:root>* {

    --md-footer-bg-color: none; /*this changes the colour of the navigation footer, where the navigation arrows sit*/
    --md-footer-fg-color: rgb(177, 252, 0); /*this changes the colour of the text in bottom footer, e.g navigation arrows and text*/
    --md-footer-bg-color--dark: none; /*this changes the colour of the bottom footer, where the copyright and icons sit*/
    --md-footer-fg-color--lighter:  rgb(142, 0, 104);/*this changes the colour of the text in the most bottom footer, - specifically "Made with" - where the copyright and icons sit*/
    --md-footer-fg-color--light:  rgba(255, 149, 0, 0.821);/*this changes the colour of the text  in the most bottom footer,  the copyright */
    --mdc-typography-headline6-font-family: 'Be Vietnam', sans-serif;
    --mdc-typography-font-family: 'Be Vietnam', sans-serif;
    --md-typeset-a-color: rgb(12, 240, 190);  /*this changes the colour of the selected link text*/
  }
   
  .hero-image { 
      background-image: url("/docs/images/fondo.png"); /* The image used */ 
      background-color: #220af7; /* Used if the image is unavailable */
      height: 500px; /* You must set a specified height */
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: cover; /* Resize the background image to cover the entire container */
    }
    
.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .md-typeset .md-button--primary {
    border-width: 1px;
    border-color: rgb(219, 219, 219);
    border-radius: 4px;
  }

.cardContent {
  padding: 16px;
  font-size: 16px;
  color: rgb(32, 32, 32);
}

.md-typeset h2 {
    font-weight: 500;
}

.mdc-typography--body2 {
    font-weight: 300;
    font-size: 14px;
}


